.cui .toc_parts_update__wrapper {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 24px;
  gap: 16px;
}

.cui .toc_parts_update__form {
  display: flex;
  padding: 16px;
  border-radius: var(--cui-card-border-radius);
  width: 100%;
  max-width: 100%;
}
