.data_table_header_personalization__sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.data_table_header_personalization__sections h6.MuiTypography-root {
  font-weight: 300;
  margin-bottom: 16px;
}

.data_table_header_personalization__button_wrapper {
  display: flex;
  justify-content: flex-end;
}
