.cui .global_translate__toggle_wrapper {
  padding: 0;
  border: 1px solid rgb(223, 226, 231);
  color: var(--cui-alvest-logo-light);
  border-radius: 13px;
  width: 40px;
  height: 40px;
}

.cui .global_translate__toggle_wrapper.Mui-selected {
  color: var(--cui-alvest-logo-light);
}

@media (max-width: 375px) {
  .cui .global_translate__toggle_wrapper {
    width: 36px;
    height: 36px;
  }
}

.cui.dark .global_translate__toggle_wrapper {
  color: var(--mui-palette-text-secondary);
}
