.cui .er_list__wrapper {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 16px 28px;
}

.cui.light .er_list__wrapper {
  background-color: var(--cui-light-background);
}

.cui .er_list__title {
  font-size: 20px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  line-height: 27px;
  margin-bottom: 24px;
  align-self: flex-start;
}

.cui.light .er_list__title {
  color: rgb(43, 54, 116);
}

.cui .er_list__sub_items_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
  padding-bottom: 8px;
}

.cui .er_list__sub_items_bar_icons {
  display: flex;
}

.cui .er_list__sort_wrapper .MuiAvatar-root {
  border: none;
  color: inherit;
}
