.breadcrumbs-container {
  padding: 6px 10px 6px 10px;
  margin-bottom: 14px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  + div:not(.calibrated-tools-menu-container) {
    margin-top: 50px;
  }
}
