#logo-deadlines th {
  vertical-align: bottom;
}

#logo-deadlines th.logo-headers {
  background-color: #FFF;
  font-size: 9px;
  text-align: center;
  vertical-align: top;
}

#logo-deadlines td {
  vertical-align: middle;
}