div.dropzone .dz-preview {
  &.dz-image-preview {
    background: transparent;
  }
  & .dz-error-message  {
    left: -50px;
    width: 220px;
    &:after {
      left: 100px;
    }
  }
}
.filepicker-file-icon {
  padding-left: 55px;
}
.filepicker {
  font-family: inherit;
}
