@use "variables" as tldvars;

.matrix-table {
  overflow: hidden;

  .hover {
    background-color: tldvars.$gray !important;
  }

  .modified-background-table, .modified-background-table .hover {
    background: #ea96a1 !important;
  }

  thead {
    th:first-of-type {
      background-color: tldvars.$white-background;
      color: black;
      font-weight: normal;
    }
    th {
      vertical-align: bottom !important;
    }
  }

  tr {
    th, td {
      padding: 4px 6px 3px!important;
      &.error {
        background-color: tldvars.$red !important;
        color: #FFF !important;
        &.hover {
          background-color: darken(tldvars.$red, 5%) !important;
        }
      }
    }

    th {
      background-color: tldvars.$tldBlue;
      color: white;
      &.top-label {
        text-align: center;
        word-break: keep-all;
      }
      &.th-total {
        background-color: grey;
      }
    }

    td {
      &:not([class^="text-"]) {
        text-align: center;
      }
      &.danger {
        background-color: #f2dede !important;
        &.hover {
          background-color: darken(#f2dede, 5%) !important;
        }
      }
      &.primary {
        background-color: lighten(tldvars.$tldBlue, 55%) !important;
        &.hover {
          background-color: lighten(tldvars.$tldBlue, 50%) !important;
        }
      }
      &.success {
        background-color: lighten(tldvars.$green, 50%) !important;
        &.hover {
          background-color: lighten(tldvars.$green, 45%) !important;
        }
      }
      &.total {
        background-color: tldvars.$table-cell-total;
        border-color: tldvars.$borders;
        &.hover {
          background-color: darken(tldvars.$table-cell-total, 5%) !important;
        }
      }
      &.text-red {
        color: tldvars.$red !important;
        font-weight: bold;
      }
      &.text-black {
        color: #000 !important;
        font-weight: bold;
      }
      & > a {
        display: inline-block;
        width: 100%;
      }
    }
  }

  tbody {
    td, th {
      vertical-align: middle !important;
    }
  }

  .matrix-input input {
    margin: unset !important;
    padding: unset !important;
    text-align: right;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid;
    background: transparent;
  }
}

