#modules-graph {
  #modules-tree {
    height: 800px;
    cursor: move;
  }

  .legend {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 100%;
    margin-right: 10px;
  }

  .migrated {
    background-color: DeepSkyBlue;
    border-color: DarkBlue;
  }

  .undefined {
    background-color: Gainsboro;
    border-color: Grey;
  }

  .level-1 {
    background-color: Green;
    border-color: DarkGreen;
  }

  .level-2 {
    background-color: Yellow;
    border-color: GoldenRod;
  }

  .level-3 {
    background-color: orange;
    border-color: SaddleBrown;
  }

  .level-4 {
    background-color: red;
    border-color: FireBrick;
  }
}
