.entry.orgPeople {
  max-width: 280px;
  height: 150px;
  text-align: center;
  margin-left: 25px;
}

.org-btn {
  min-width: 24px;
  min-height: 24px;
  float: left;
  margin-top: -83px;
}

.under-indent {
  padding-left: 40px;
}
