// OVERRIDE FONTS
$font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// OVERRIDE COLORS
$gray: #f3f3f4;
$white-background: white;
$red: #dc3545;
$green: #399a4b;
$tldBlue: #004F9E;
$borders: #e7eaec;
$spin-color: #004F9E;
$navy: #004F9E;
$input-border: #939ca3;

// TABLES
$table-cell-total-title: grey;
$table-cell-total: #eaeaea;
$table-cell-total-borders: #d3d3d3;

//TOP navigation-header
$top-nav-text-color: #a7b1c2;
$top-nav-link-hover-color: #ffffff;
$top-nav-bg-color: #2F4050;

//Sidebar width
$sidebar-width: 230px;
