.cui .form_checkbox_list__wrapper {
  width: 100%;
}

.cui .form_checkbox_list__wrapper .MuiFormControlLabel-root {
  justify-content: space-between;
  margin: 0;
}

.cui .form_checkbox_list__wrapper .MuiCheckbox-root {
  padding: 6px;
}
