.gantt_chart__label_wrapper {
  cursor: pointer;
}

.gantt_chart__label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 250px;
}

.gantt_chart__label_wrapper .gantt_chart__label:nth-child(n + 3) {
  font-weight: 300;
}

.gantt_chart__label_light {
  font-weight: 300;
}
