.cui .breadcrumb_bar_wrapper {
  padding: 0 28px;
  min-height: 40px;
  display: flex;
}

.cui .breadcrumb_bar_wrapper .cui_label {
  padding-bottom: 0;
}

.cui .MuiBreadcrumbs-ol {
  row-gap: 8px;
  padding: 8px 0;
}
