.cui .spr_tracker_link__wrapper {
  cursor: pointer;
  color: var(--mui-palette-primary-main);
}

.cui .spr_tracker_link__wrapper:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--Link-underlineColor);
}
