.activity_technician_on_call__switch_wrapper .generic_switch__wrapper {
  margin-bottom: 0;
  margin-top: 0;
  transform: translateY(-20%);
}

.activity_technician_on_call__switch_wrapper
  .generic_switch__wrapper
  .form-check-input {
  background-color: lightgray;
  border: 1px solid #bebebe;
  margin-left: 0;
}

.activity_technician_on_call__switch_wrapper .custom-switch {
  transform: translateY(20%) scale(0.8);
}
