	BODY				{
	margin-left:0;
	margin-top:0;
	font-family: Arial, Helvetica, sans-serif;
}
	TD 					{ ; vertical-align: top; font-size: small}
	A 					{ color:#3264c8; text-decoration:none }
	A:hover{ color:#FF0000; text-decoration:underline}
	.spec 				{ border : 1px solid #9F9F9F; }
	TD.spectitle		{ border-bottom : 1px solid #9F9F9F; }
	TD.speccontent		{ border-left : 1px solid #9F9F9F; border-bottom : 1px solid #9F9F9F; }
	.smalltext {  font-size: x-small}
    .smallwhit  e {  font-size: x-small; color: #FFFFFF; background-color: #3264C8}
.xsmalltext { font-size: x-small}
.xxsmalltext { font-size: 9px}
h4 {  font-size: medium; font-style: italic; font-weight: bold; color: #666666}
.table_title {  background-image: url(/shared/backgrounds/borders/navbg_grey.gif); text-align: center}
a:visited {  text-decoration: none; border-style: none}
li {  list-style-position: outside; list-style-image: url(shared/bullets/Circles/circle03_blue.gif); font-size: small}
ul {  list-style-position: outside; list-style-image: url(shared/bullets/Circles/circle03_blue.gif)}
img {  border-style: none}
p {  font-size: small}
.alert {  font-style: italic; color: #FF0000}
.success {  font-style: italic; color: #4f805d}
tr {  vertical-align: top}
h2 {  padding-bottom: 0px; margin-bottom: 0px; color: #666666}
