.git
.gitignore

Makefile
README.md
compose.override.yml*

node_modules
admin/vendor
api/node_modules
api/var
api/vendor
dms/vendor
docker/data
docker/import
evendors/node_modules
evendors/var
evendors/vendor
extranet-new/var
extranet-new/vendor
intranet/node_modules
intranet/var
intranet/vendor
mobile/build
mobile/node_modules
ui-components/node_modules
ui-components/build
packages/translator/var
packages/translator/vendor
packages/twig_helper/vendor
powerbi/node_modules
shared/inc/vendor
shopfloor/bin
shopfloor/node_modules
shopfloor/sessions
shopfloor/vendor
survey
vendor

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db