.qr_code_plate__wrapper .qr_code_plate__heading {
  margin-bottom: 16px;
}

.qr_code_plate__content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  flex-direction: row;
  overflow: auto;
  padding-top: 8px;
}

.qr_code_plate__form {
  flex: 1;
}

.qr_code_plate__drawing {
  flex: 2;
}

.qr_code_plate__drawing {
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
