.cui .toc_ai_search__wrapper {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 24px;
  gap: 16px;
}

.cui .toc_ai_search__wrapper .toc_ai_search__form {
  display: flex;
  padding: 16px;
  border-radius: var(--cui-card-border-radius);
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  gap: 16px;
}

.cui .toc_ai_search__list {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
}

.cui .toc_ai_search__item_bold {
  font-weight: bold;
}

.cui .toc_ai_search__list_item {
  text-align: start;
}
