global
    log 127.0.0.1:514 local0

defaults
    timeout connect 10s
    timeout client 1800s
    timeout server 1800s
    mode http
    maxconn 3000
    log global
    option httplog

frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if LOCALHOST

frontend main-http
    bind :80
    bind :443 ssl crt /certs/server.pem

    redirect scheme https code 301 if !{ ssl_fc }

    http-request add-header X-Forwarded-Proto http if !{ ssl_fc }
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

    acl is_maintenance_path path_beg /maintenance
    use_backend maintenance if is_maintenance_path

    acl is_extranet path_beg /extranet
    http-request redirect location https://extranet.tld-gse.com code 301 if is_extranet

    default_backend gse
    option forwardfor

frontend api-http
    bind :8080 ssl crt /certs/server.pem

    http-request add-header X-Forwarded-Proto https if { ssl_fc }

    default_backend api
    option forwardfor

frontend evendors-http
    bind :8081
    bind :8081 ssl crt /certs/server.pem

    redirect scheme https code 301 if !{ ssl_fc }

    http-request add-header X-Forwarded-Proto http if !{ ssl_fc }
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

    default_backend evendors
    option forwardfor

frontend extranet-http
    bind :8084
    bind :8084 ssl crt /certs/server.pem

    redirect scheme https code 301 if !{ ssl_fc }

    http-request add-header X-Forwarded-Proto http if !{ ssl_fc }
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

    default_backend extranet
    option forwardfor

frontend powerbi-http
    bind :8082
    bind :8082 ssl crt /certs/server.pem

    redirect scheme https code 301 if !{ ssl_fc }

    http-request add-header X-Forwarded-Proto http if !{ ssl_fc }
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

    default_backend powerbi
    option forwardfor

frontend mobile-http
    bind :8083
    bind :8083 ssl crt /certs/server.pem

    redirect scheme https code 301 if !{ ssl_fc }

    http-request add-header X-Forwarded-Proto http if !{ ssl_fc }
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

    default_backend mobile
    option forwardfor

backend gse
    balance roundrobin
    server webprod01 tld-gse-1:80

backend powerbi
    server powerbi tld-powerbi-1:80

backend mobile
    server mobile tld-mobile-1:80

frontend ft_webpack
    bind :8085 ssl crt /certs/server.pem

    default_backend bk_webpack
    option forwardfor

backend bk_webpack
    server webprod01 tld-gse-1:8085

backend api
    server api tld-api-1:80

backend evendors
    server evendors tld-evendors-1:80

backend extranet
    server extranet tld-extranet-1:80

backend maintenance
    errorfile 503 /maintenance/maintenance.http

frontend ft_redis
    mode tcp
    bind :6379 name redis
    option tcplog
    default_backend bk_redis

backend bk_redis
    mode tcp
    option tcp-check
    tcp-check send PING\r\n
    tcp-check expect string +PONG
    tcp-check send info\ replication\r\n
    tcp-check expect string role:master
    tcp-check send QUIT\r\n
    tcp-check expect string +OK
    server redis01 tld-redis-master-1:6379 check inter 1s
    server redis02 tld-redis-slave-1:6379 check inter 1s
    server redis03 tld-redis-slave-2:6379 check inter 1s

