[mysqld]
sql-mode=NO_ENGINE_SUBSTITUTION
max_allowed_packet=64M
character-set-server = latin1
collation-server = latin1_swedish_ci

[client]
default-character-set=latin1

[mysql]
default-character-set=latin1