.cui .toc_spr_part_form__wrapper {
  border: 1px solid var(--mui-palette-divider);
  padding: 16px;
  border-radius: 13px;
}

.cui .toc_spr_part_form__header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
