.activity_item_technician_on_calls__title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.activity_item_technician_on_calls__actions {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
  flex-direction: column;
}

.activity_item_technician_on_calls__badges {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.activity_item_technician_on_calls__module_badge.badge {
  background-color: #183598 !important;
}

.activity_item_technician_on_calls__pre_wrap {
  white-space: pre-wrap !important;
}
