.cui .toc_spr_form__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.cui .toc_spr_form__header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  color: #555;
}

.cui .toc_spr_form__address_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  border: 1px solid var(--mui-palette-divider);
  padding: 16px;
  border-radius: 13px;
}

.cui .toc_spr_form__address_fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.cui .toc_spr_form__wrapper .MuiRadioGroup-root .MuiTypography-root {
  white-space: pre-wrap;
}

.cui .toc_spr_form__wrapper .MuiRadioGroup-root {
  gap: 16px;
}
