.dms_ai_search__wrapper {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.dms_ai_search__wrapper .dms_ai_search__form {
  display: flex;
  padding: 16px;
  border-radius: var(--cui-card-border-radius);
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  gap: 16px;
  height: max-content;
}

.dms_ai_search__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px;
}

.cui .dms_ai_search__list_item {
  padding: 4px 16px;
  border-radius: 100px;
}

.dms_ai_search__section_wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 32px;
}

.dms_ai_search__loader_wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.dms_ai_search__loader {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
