.cui .form_radio_buttons__group_center {
  justify-content: space-evenly;
  padding-bottom: 8px;
}

.cui .form_radio_buttons__group_center .MuiFormControlLabel-root {
  margin: 0;
}

.cui .form_radio_buttons__group_center .MuiRadio-root {
  padding: 0;
}
