.cui .form_switch__wrapper {
  width: 100%;
}

.cui .form_switch__wrapper .MuiFormControlLabel-root {
  justify-content: space-between;
  margin: 0;
}

.cui .form_switch__wrapper .MuiFormControlLabel-root .MuiTypography-root {
  letter-spacing: 0.00938em;
  font-size: 1rem;
  font-family: "DM Sans", serif;
  font-weight: 600;
  size: 14px;
  line-height: 20px;
}

.cui.light .form_switch__wrapper .MuiFormControlLabel-root .MuiTypography-root {
  color: var(--cui-alvest-logo-light);
}
