.cui .form_rich_text_field__wrapper .ck .ck .ck .ck.ck-sticky-panel__content {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  overflow: hidden;
}

.cui .form_rich_text_field__wrapper .ck .ck .ck.ck-editor__editable {
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  height: 200px;
  padding: 0 16px;
  font-family: "DM Sans", serif;
  background: transparent;
}

.cui.light .form_rich_text_field__wrapper .ck .ck .ck.ck-editor__editable {
  color: rgb(112, 126, 174);
}

.cui .ck-body-wrapper .ck .ck.ck-balloon-panel {
  display: none;
}

.cui .form_rich_text_field__error .ck .ck .ck .ck.ck-sticky-panel__content,
.cui .form_rich_text_field__error .ck .ck .ck.ck-editor__editable {
  border-color: red;
}

.cui
  .form_rich_text_field__wrapper
  .ck
  .ck
  .ck.ck-editor__editable
  .ck-placeholder {
  opacity: 0.4;
}

.cui .form_rich_text_field__wrapper .ck .ck .ck.ck-toolbar {
  background: transparent;
}

.cui.dark
  .form_rich_text_field__wrapper
  .ck
  .ck
  .ck
  .ck.ck-sticky-panel__content
  svg {
  color: var(--mui-palette-text-secondary);
}

.cui .form_rich_text_field__wrapper .ck.ck-sticky-panel__content .ck-button,
.cui
  .form_rich_text_field__wrapper
  .ck.ck-sticky-panel__content
  .ck-button:hover,
.cui
  .form_rich_text_field__wrapper
  .ck.ck-sticky-panel__content
  .ck-button:active {
  border-radius: 6px;
}

.cui.dark
  .form_rich_text_field__wrapper
  .ck.ck-sticky-panel__content
  .ck-button,
.cui.dark
  .form_rich_text_field__wrapper
  .ck.ck-sticky-panel__content
  .ck-button:hover,
.cui.dark
  .form_rich_text_field__wrapper
  .ck.ck-sticky-panel__content
  .ck-button:active {
  box-shadow: none;
  background-color: transparent;
}

.cui.dark
  .form_rich_text_field__wrapper
  .ck
  .ck.ck-sticky-panel__content
  .ck-on {
  border: 1px solid var(--mui-palette-text-secondary);
}
