@media all and (max-device-width: 480px)
{
    #scalable_mobile
    {
        -ms-transform: scale(3);
        -webkit-transform: scale(3);
        transform: scale(3);
    }
}

#page-wrapper {
    margin:0!important;
}
