#page table thead th,
.tableshow tr td:first-child,
#page h3 {
    text-transform: capitalize;
}

#menu {
    text-transform: capitalize;
}

.pagination {
    margin: 0;
    padding: 0;
    clear: both;
}

.pagination li {
    margin: 0 3px 0 0;
    padding: 0;
    float: left;
    list-style-image: none;
    list-style-type: none;
}

.pagination li.active a,
.pagination li.active a:hover,
.pagination li.active a:visited,
.pagination li.active a:active
{
    color: gray;
}


.paginatedList {
    clear: both;
}

.paginatedList .entry {
    float: left;
}

.paginatedList .entry.shortPeople {
    width: 25%;
    height: 150px;
    text-align: center;
}

label {
    text-transform: capitalize;
}
