@font-face {
  font-family: 'footable';
  src: url('../../vendor/inspinia-admin-theme/css/plugins/footable/fonts/footable.eot');
  src: url('../../vendor/inspinia-admin-theme/css/plugins/footable/fonts/footable.eot?#iefix') format('embedded-opentype'),
  url('../../vendor/inspinia-admin-theme/css/plugins/footable/fonts/footable.woff') format('woff'),
  url('../../vendor/inspinia-admin-theme/css/plugins/footable/fonts/footable.ttf') format('truetype'),
  url('../../vendor/inspinia-admin-theme/css/plugins/footable/fonts/footable.svg#footable') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'footable';
    src: url('../../vendor/inspinia-admin-theme/css/plugins/footable/fonts/footable.svg#footable') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
