/* Replace Bootstrap Primary color by Alvest Blue */

/*------------------------------------
- COLOR blue
------------------------------------*/
.alert-primary {
    color: #09143b;
    background-color: #9baeef;
    border-color: #8aa0ec;
}

.alert-primary hr {
    border-top-color: #748ee9;
}

.alert-primary .alert-link {
    color: #02050f;
}

.badge-primary {
    color: #fff;
    background-color: #1A3AA5;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: #132a78;
}

.bg-primary {
    background-color: #1A3AA5 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #132a78 !important;
}

.border-primary {
    border-color: #1A3AA5 !important;
}

.btn-primary {
    color: #fff;
    background-color: #1A3AA5;
    border-color: #1A3AA5;
}

.btn-primary:hover {
    color: #fff;
    background-color: #152f86;
    border-color: #132a78;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 58, 165, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #1A3AA5;
    border-color: #1A3AA5;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #132a78;
    border-color: #10256b;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 58, 165, 0.5);
}

.btn-outline-primary {
    color: #1A3AA5;
    background-color: transparent;
    border-color: #1A3AA5;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #1A3AA5;
    border-color: #1A3AA5;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 58, 165, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #1A3AA5;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #1A3AA5;
    border-color: #1A3AA5;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 58, 165, 0.5);
}

.list-group-item-primary {
    color: #09143b;
    background-color: #8aa0ec;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #09143b;
    background-color: #748ee9;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #09143b;
    border-color: #09143b;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #8aa0ec;
}

.table-hover .table-primary:hover {
    background-color: #748ee9;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #748ee9;
}

.text-primary {
    color: #1A3AA5 !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #132a78 !important;
}
