.cui .info_card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--mui-palette-divider);
  border-radius: var(--cui-card-border-radius);
  padding: 16px;
  flex-direction: column;
  gap: 8px;
}

.cui .info_card__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.info_card__value {
  text-align: end;
}

.info_card__wrapper {
  width: 100%;
}
