.cui .simple_table__wrapper .MuiTableCell-head {
  white-space: nowrap;
}

.cui .simple_table__wrapper .MuiTableCell-body {
  vertical-align: top;
  display: table-cell;
}

.cui .simple_table__wrapper .MuiIconButton-root {
  padding: 0;
}

.cui .simple_table__wrapper--one_line .MuiTableCell-root {
  vertical-align: middle;
}

.cui .simple_table__wrapper .simple_table__no_wrap.MuiTableCell-head {
  white-space: wrap;
  vertical-align: top;
}
