.list_contract_category__wrapper .list_contract_category__action {
  background-color: var(--mui-palette-primary-main);
}

.list_contract_category__action_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.list_contract_category__wrapper th {
  font-weight: 600;
}

body .swal2-container {
  z-index: 3002;
}
