#manual_document_collection_documents > .col-sm-12 > div:nth-child(odd){
  display: flex;
  justify-content: space-around;
}

#manual_document_collection_documents .col-sm-12 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#manual_document_collection_documents > .col-sm-12 > div:first-child{
  gap: 1rem;
  padding-right: 1rem;
}

#manual_document_collection_documents .col-sm-12 button{
  width: max-content;
}