.cui .form_single_select_dropdown__close_icon_wrapper {
  position: absolute;
  right: 28px;
  display: none;
}

.cui .cui_dropdown:hover .form_single_select_dropdown__close_icon_wrapper,
.cui .Mui-focused .form_single_select_dropdown__close_icon_wrapper {
  display: flex;
  margin: 0;
  padding: 0;
}

.cui .single_select_dropdown .MuiOutlinedInput-input {
  padding-right: 56px !important;
}

.cui .MuiSelect-select.Mui-disabled {
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.05);
}

.cui .single_select_dropdown__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.cui .single_select_dropdown__item svg {
  fill: rgba(0, 0, 0, 0.54);
}

.cui .form_single_select_dropdown__warning fieldset,
.cui .form_single_select_dropdown__warning fieldset:hover {
  border-color: var(--mui-palette-warning-main) !important;
}

.cui .form_single_select_dropdown__label_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
