.form-group {
  margin-bottom: 15px;
}

.hr-corporate {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.list-corporate{
  --bs-list-group-color: unset;
}

.navbar-top-links li a {
  min-height: unset;
}

.list-corporate > .list-group-item{
  border-top: 1px solid #e7eaec;
}
.col-form-label {
  font-weight: 700;
  text-align: end;
}

.row > .col-md-4 > form {
  display: flex;
}

.row > .col-sm-12 > .card {
  padding: 4px;
  margin-bottom: 20px
}

.row > .col-sm-10 > .btn{
  margin-bottom: 10px;
}

.card-body > .row > .img-fluid {
  width: auto;
}

.tabs-container .card-body {
  background: #fff;
  border-top-color: rgb(231, 234, 236);
  border-top-style: solid;
  border-top-width: 1px;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}

.bg-primary .card-header {
  color: white;
  background-color: #004F9E;
  border-color: #004F9E;
}

.card-title > a {
  color: inherit;
}

.table-checkbox-center{
  margin-top: -15px;
}

.form-select {
  border-radius: 0;
  color: inherit;
}

#form_date >.input-group {
  gap: 1rem;
}

.input-group > .form-control {
  height: auto;
}

thead:first-child > tr:first-child > th {
  border-top: 0;
}

.table {
  color: unset;
}

.table > tbody > tr > th{
  --bs-table-hover-color: white;
}

small > .bg-primary {
  color : white;
}

.two_columns {
  display: flex;
  gap: 1rem;
}

.quality-tools-pagination > nav {
  margin-bottom: 20px;
  display: inline-block;
}

.table > tfoot:nth-child(3) > tr:nth-child(1) > td:nth-child(1) {
  border-bottom: none;
}

.td label{
  background-color: #d1dade!important ;
  color: #5e5e5e;
  font-family: Open Sans;
  font-weight: 600;
  text-shadow: none;
}


.association-table th, .association-table td {
  width: auto;
}

// This rule change font color in table every two lines.
//.table-striped > tbody > tr:nth-of-type(2n+1) > * {
//  color: unset;
//}

.tabs-container.card-body {
  background: #fff;
  border: 1px solid #e7eaec;
  border-top-color: rgb(231, 234, 236);
  border-top-style: solid;
  border-top-width: 1px;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}

.checkbox label {
  padding-bottom: 15px;
  padding-left: 0!important;
}

.form-check-input[type="checkbox"] {
  border-radius: unset;
}
.form-check-input {
  margin-top: 0.5em;
  vertical-align: middle;
}

.tabs-container.tab-pane.card-body {
  border-top: none;
}


textarea.form-control {
  height: auto;
}


#positionClassificationAccordion{
  --bs-accordion-btn-icon: none;
  --bs-accordion-btn-active-icon: none;

  & .accordion-item:hover{
    background-color: unset;
  }

  & .accordion-header .accordion-button{
    font-weight: unset;
    color: unset;
    text-decoration: none;
  }
}

.btn-height > button {
  max-height: 37px;
}

#manual_documents > .col-sm-12 > div:nth-child(odd){
  display: flex;
  justify-content: space-around;
}

#manual_document_parts > .col-sm-12 > div:nth-child(odd){
  display: flex;
  justify-content: space-between;
}

.navbar-fixed-top{
  position: fixed;
  right: 0;
  left: 0;
  border-width: 0 0 1px;
  z-index: 2030;
  top: 0;
}

.back-to-line {
  word-break: break-word;
}

.center-banner{
  justify-content: center!important;
  &> h3 > p {
    color: white;
  }
}

#react-select-2-listbox {
  z-index: 2;
}

@media (min-width: 1200px){
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .hidden-lg{
    display: none;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }
}
.swal2-container {
  z-index: 3000!important;
}

.ck.ck-editor { z-index: 0 !important; }

.text_area__label_wrapper {
  padding-bottom: 2px;
}

.text_area__sub_label {
  display: block;
  margin: 0;
  padding-bottom: 4px;
  color: #aaa;
}

body .swal2-container.swal2-backdrop-show {
  z-index: 100000;
}
