.translator_line__ellipsis {
  display: inline-block;
  max-width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.translator_line__btn_icon {
  width: 28px;
  height: 28px;
}

.translator_line__status_badge.bg-danger {
  background-color: #f2dede !important;
}
