.sfr-qe-comments {
  .sfr-qe-comments-wrapper {
    position: relative;
    div.ibox {
      position: absolute;
      width: 50vw;
      right: 0;
      top: 5px;
      z-index: 9999;
      background: #FFF;
      box-shadow: -2px 4px 20px 0px rgba(0, 0, 0, 0.20);
      ul {
        list-style: none;
        li {
          padding: 10px 0;
        }
      }
    }
  }
}
