.cui .comment_popup__comment_wrapper .MuiPaper-root {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
  flex-direction: column;
  padding: 16px;
  border-radius: var(--cui-card-border-radius);
}

.cui .comment_popup__comment_wrapper > div {
  width: 100%;
}

.cui .comment_popup__comment_input_wrapper {
  flex: 1;
}

.cui .comment_popup__comment_input_wrapper > div {
  width: 100%;
}

.cui .comment_popup__comment_send_wrapper {
  background-color: var(--mui-palette-primary-main);
}

.cui .comment_popup__comment_send_wrapper button {
  padding-left: 13px;
}

.cui .comment_popup__comment_send_wrapper svg {
  color: white;
}

.cui .comment_popup__submit_button {
  width: 100%;
}
