.cui .login__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  margin: 16px;
  max-width: 426px;
  margin: auto;
  padding: 16px;
}

.cui .login__form_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  border-radius: 20px;
}

.cui .login_logo {
  height: 64px;
  margin-bottom: 48px;
  align-self: center;
}

.cui .login__title {
  margin-bottom: 24px;
}

.cui .login__seperator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.cui .login__seperator hr {
  flex: 1;
}
