.cui.light .not_found__wrapper {
  background-color: var(--cui-light-background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.cui .not_found__title {
  text-align: center;
}
