:root {
  --cui-alvest-logo-light: rgb(1, 88, 164);
  --cui-light-background: rgb(244, 247, 253);
  --cui-bg-red: #ff5252;
  --cui-bg-orange: #ffab40;
  --cui-bg-green: #69f0ae;
  --cui-primary-light-border: rgba(
    var(--mui-palette-primary-mainChannel) / 0.7
  );
}
