.cui .cui_heading {
  font-family: "DM Sans", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

.cui.light .cui_heading {
  color: var(--cui-alvest-logo-light);
}

.cui .cui_label,
.cui .cui_label_checkbox .MuiFormControlLabel-label {
  font-family: "DM Sans", serif;
  font-weight: 600;
  size: 14px;
  line-height: 20px;
}

.cui .cui_label {
  padding-bottom: 8px;
}

.cui.light .cui_label,
.cui.light .cui_label_checkbox .MuiFormControlLabel-label {
  color: var(--cui-alvest-logo-light);
}

.cui.light .cui_label .Mui-completed {
  color: var(--cui-alvest-logo-light);
}

.cui.light .cui_label .Mui-active {
  color: var(--cui-alvest-logo-light);
}

.cui .cui_input_wrapper input {
  font-family: "DM Sans", serif;
  font-weight: 400;
  size: 14px;
  line-height: 20px;
  padding: 0;
}

.cui.light .cui_input_wrapper input,
.cui.light .cui_input_wrapper textarea {
  color: rgb(112, 126, 174);
}

.cui .cui_input_wrapper .MuiOutlinedInput-input {
  border-radius: 0;
}

.cui .cui_input_wrapper > div {
  border-radius: 13px;
  padding: 11.6px 16px;
}

.cui .cui_button {
  font-family: "DM Sans", serif;
  font-weight: 500;
  size: 16px;
  line-height: 28px;
  padding: 10px 24px;
  border-radius: 16px;
  text-transform: none;
}

.cui .cui_button.MuiButton-sizeSmall {
  padding: 6px 20px;
}

.cui.light .cui_button {
  color: rgb(250, 252, 254);
  background-color: var(--cui-alvest-logo-light);
}

.cui.light .cui_button.Mui-disabled {
  color: var(--mui-palette-action-disabled);
  background-color: var(--mui-palette-action-disabledBackground);
}

.cui.light .cui_button.primary {
  color: rgb(250, 252, 254);
  background-color: var(--mui-palette-primary-main);
}

.cui .cui_icon_button_no_pad {
  padding: 0;
}

.cui .cui_dropdown {
  border-radius: 13px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  size: 14px;
  line-height: 20px;
  width: 100%;
}

.cui.light .cui_dropdown {
  color: rgb(112, 126, 174);
}

.cui .cui_dropdown > div {
  padding: 11.6px 16px;
}

.cui .cui_dropdown.MuiAutocomplete-root > div {
  padding: 0;
}

.cui .cui_block {
  display: block;
}

.cui .cui_three_line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4.5em;
  line-height: 1.5em;
}

.cui .cui_w-100 {
  width: 100%;
}

.cui .cui_input_wrapper .MuiAutocomplete-inputRoot {
  padding: 11.6px 16px;
}

.cui .cui_input_wrapper .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
  padding: 0;
}

.cui .cui_input_calender .MuiInputBase-adornedEnd {
  padding: 7.1px 16px;
}

.cui .MuiSelect-select em {
  opacity: 0.4;
}

.cui .cui_invisible {
  visibility: hidden;
}

.cui .cui_one_line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  white-space: break-spaces;
}

.cui .cui_one_line_regular {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  white-space: break-spaces;
}

.cui .cui_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cui .MuiAccordionSummary-root.Mui-expanded {
  min-height: 48px;
}

.cui .MuiAccordionSummary-root.Mui-expanded .MuiAccordionSummary-content {
  margin: 0;
}

.cui .MuiAccordionDetails-root {
  padding: calc(2 * var(--mui-spacing));
}

.cui .cui_bold-500 {
  font-weight: 500;
}

.cui .cui_bg-red {
  background-color: var(--cui-bg-red);
}

.cui .cui_bg-orange {
  background-color: var(--cui-bg-orange);
}

.cui .cui_bg-green {
  background-color: var(--cui-bg-green);
}

.cui .cui_disabled {
  opacity: 0.5;
}

.cui.light .cui_light_text {
  color: #555;
}

.cui .MuiChip-labelSmall {
  padding: 0 8px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.03333em;
}

.cui .cui_error {
  color: var(--mui-palette-error-main);
}

.cui .cui_success {
  color: var(--mui-palette-success-main);
}

.cui .cui_allow_white_space {
  white-space: pre-wrap;
}

.cui .Mui-error {
  margin-left: 0;
}

.cui .cui_link {
  cursor: pointer;
  color: var(--mui-palette-primary-main);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  font-weight: 500;
}

.cui .cui_link:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--Link-underlineColor);
}

.cui .cui_warning {
  margin-left: 0;
}

.cui .MuiList-root.MuiMenu-list {
  min-width: fit-content;
}

.cui .cui_action.MuiAvatar-root {
  background-color: var(--mui-palette-primary-main);
}

.cui .cui_action .MuiButtonBase-root {
  color: white;
}

.cui .text_center {
  text-align: center;
}

.cui .text_end {
  text-align: end;
}

.cui.dark .MuiAvatar-root .MuiButtonBase-root,
.cui.dark .MuiPaper-root .MuiButtonBase-root[class*="icon_wrapper"],
.cui.dark .MuiButtonBase-root .MuiAvatar-root,
.cui.dark .MuiBadge-badge {
  color: var(--mui-palette-primary-contrastText);
  background-color: var(--mui-palette-primary-main);
}

.cui.dark [class*="sort_wrapper"] .MuiButtonBase-root .MuiAvatar-root {
  color: inherit;
  background-color: inherit;
}

.cui.dark .MuiAvatar-root .MuiButtonBase-root.Mui-disabled,
.cui.dark
  .MuiPaper-root
  .MuiButtonBase-root[class*="icon_wrapper"].Mui-disabled,
.cui.dark .MuiButtonBase-root.Mui-disabled .MuiAvatar-root {
  color: var(--mui-palette-action-disabled);
  background-color: var(--mui-palette-action-disabledBackground);
}
