.cui .csr_status_progress {
  width: 100%;
}

.cui .csr_status_progress__card {
  border-radius: var(--cui-card-border-radius);
  padding: 8px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.cui.light .csr_status_progress__fab_icon {
  background-color: var(--mui-palette-primary-main);
}

.cui.light .csr_status_progress__fab_icon button {
  color: white;
}
