.matrix-table {
    overflow: hidden;
}

.matrix-table tr th {
    padding: 4px 6px 3px!important;
}

.matrix-table tr th.top-label {
    text-align: center;
    word-break: keep-all;
}

.matrix-table tr th.th-total {
    background-color: #CCFF00;
}

.matrix-table tr td {
    text-align: center;
    background-color: #eeeeee;
}

.matrix-table tbody tr th {
    background-color: #eeeeee;
}

.matrix-table tbody tr:nth-child(even) td, .matrix-table tbody tr:nth-child(even) th {
    background-color: #d0d0d0;
}

.matrix-table tr td.total {
    background-color: #CCFF00 !important;
    border-color: grey;
}

.matrix-table tr td > a {
    display: inline-block;
    width: 100%;
}

.matrix-table tbody tr td {
    vertical-align: middle!important;
}
