BODY, TD, TH {font-family:arial,helvetica; font-size:10pt;}
BODY				{
	margin-left:0;
	margin-top:0;
	margin-right: 0px;
	margin-bottom: 0px;
}
TD 					{ font-family:arial, helvetica; ; vertical-align: top;}
A 					{ color:#3264c8; text-decoration:none }
A:hover{ color:#FF0000; text-decoration:underline}
.spec 				{ border : 1px solid #9F9F9F; }
TD.spectitle		{ border-bottom : 1px solid #9F9F9F; }
TD.speccontent		{ border-left : 1px solid #9F9F9F; border-bottom : 1px solid #9F9F9F; }
.smalltext {  font-family: Arial, Helvetica, sans-serif; font-size: x-small}
.smallwhite {  font-family: Arial, Helvetica, sans-serif; color: #FFFFFF}
.xsmalltext { font-family: Arial, Helvetica, sans-serif; font-size: xx-small}
.xxsmalltext { font-family: Arial, Helvetica, sans-serif; font-size: 9px}
h4 {  font-family: Arial, Helvetica, sans-serif; font-size: medium; font-style: italic; font-weight: bold; color: #666666}
.table_title {  background-image: url(/shared/backgrounds/borders/navbg_grey.gif); text-align: center}
a:visited {  text-decoration: none; border-style: none}
ul {  list-style-position: outside; list-style-image: url(/shared/bullets/Circles/circle03_blue.gif); font-size: -1;}
img {  border-style: none}
p {  font-family: Arial, Helvetica, sans-serif; font-size: -1;}
.alert {  font-style: italic; color: #FF0000}
.success {  font-style: italic; color: #4f805d}
tr {  vertical-align: top}
h2 {  padding-bottom: 0px; margin-bottom: 0px; color: #666666}
.pagebreak {  page-break-before: Always}
ol {  font-size: -1;}
h3 {  color: #666666}
.mainbodyfont {
	font-size: -2;
}
th {
	font-size: -1;
	text-align: left;
}
table.sortable .tts-metadata {
	display: none;
}

.center-banner {
	text-align: center;
	padding: 10px;
}

.env-warning {
	background: red;
	text-align: center;
	padding: 10px;
}

.env-warning h3 {
	color: #2d0000 !important;
	font-size: 15px;
	margin: 5px 0 10px;
}

.navbar-fixed-top {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.env-warning a {
	color: white;
}
