.smw {
  .heading {
    color: white;
    background-color: #004F9E;
    width: fit-content;
    margin: 16px 0px 8px 0px;
    padding: 4px 16px;
    border-radius: 2px;
    font-size: 14px;
  }
}

.smw-section {
  margin-left: 0;
}
