body {
    font-family: Arial;
    font-size: 12px;
    margin-left:0;
    margin-top:0;
    margin-right: 0px;
    margin-bottom: 0px;
    background: #f2f2f2;
}

img { border-style: none;}

/* TEXT TAG PROPERTIES */

a           { color:#3264c8; text-decoration:none }
a:hover     { color:#FF0000; text-decoration:underline}
a:visited   { text-decoration: none; border-style: none}

h4 { font-family: Arial; font-size: medium; font-style: italic; font-weight: bold; color: #666666}
h3 { color: #666666}
h2 { padding-bottom: 0px; margin-bottom: 0px; color: #666666}

ul { list-style-position: outside; list-style-image: url(shared/bullets/Circles/circle03_blue.gif);}
ol {}

p { font-family: Arial;}

/* TABLE PROPERTIES */

tr { vertical-align: top}
th { text-align: left; }
td { vertical-align: top;}

.tld_table tr th { background: #2971a8; color: white; text-align: center;}

/* DESIGN PROPERTIES */

#menu_lang { margin: 5px; text-align: right;}

#index_body { padding: 20px; }

#index_title { font-size: 14px; font-weight: bold;}

#index_menu p { margin: 10px; }
#index_menu a { padding: 2px; }

#body { clear: both; }

.smallwhite { color: #FFFFFF }
.conf { padding: 5px; color: green; border: 1px solid green; font-weight: bold; text-align: center;}
.note { padding: 5px; color: blue; border: 1px solid blue; font-weight: bold; text-align: center;}
.alert { padding: 5px; color: red; border: 1px solid red; font-weight: bold; text-align: center;}
.warning { padding: 5px; color: orange; border: 1px solid orange; font-weight: bold; text-align: center;}


#dashboard .section {
    background:#dedede;
    width:100%;
    color:black;
    padding:4px;
}

.button {
    padding: 2px;
    border: 1px solid #cecece;
    background: #dedede;
}

.button:hover {
    border: 1px solid red;
    background: #dedede;
}

.staging-link {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.staging-warning {
    background: red;
    text-align: center;
    padding: 10px;
}

.staging-warning a {
    color: white;
}

.navbar-fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}