.generic_filter_form__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.generic_filter_form__button_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
