.contract_form__row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.contract_form__row > div {
  flex: 1;
}

.contract_form__wrapper hr {
  border-color: inherit;
  margin: 16px 0;
}

.contract_form__section_heading {
  margin-bottom: 8px;
  font-weight: 600;
}

.contract_form__right_align {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.contract_form__right_align > div {
  width: 100%;
}

.contract_form__checkbox_row {
  width: max-content;
}

.contract_form__wrapper .ibox-title {
  border: 0;
}

.contract_form__array_field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
}
.contract_form__array_field > div {
  width: 100%;
}

.contract_form__questions_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
  margin-top: 16px;
}

.contract_form__question_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  font-weight: 600;
}
