.cui .floating_action_button__fab_wrapper {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.cui.light .floating_action_button__fab_icon {
  background-color: var(--mui-palette-primary-main);
}

.cui.light .floating_action_button__fab_icon button {
  color: white;
}
