@import "variables";

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  background-image: url('../images/background.jpg');
  background-color: $blue;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#app {
  position: relative;
  padding-bottom: 60px;
}

textarea {
  min-height: 120px;
}

.rating-label-md {
  padding-top: 9px;
}