.rating-block {
  .rating-labels {
    padding-top: 5px;
    font-weight:bold;
  }

  .rating-title {
    font-weight: bold;
  }

  .row {
    padding: 10px 0;
  }

  hr {
    margin: 10px 0 20px;
  }
}

