.cui .er_card__wrapper {
  width: 100%;
  margin-bottom: 20px;
  padding: 14px 16px;
  border-radius: var(--cui-card-border-radius);
  display: flex;
  gap: 16px;
  cursor: pointer;
}

.cui .er_card__wrapper div:first-child {
  flex: 1;
}

.cui .er_card__details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cui .er_card__details > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cui .er_card__image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cui .er_card__left_section {
  display: flex;
  flex-direction: column;
}

.cui .er_card__left_section .cui_one_line.MuiTypography-button {
  text-transform: none;
}

.cui .er_card__image {
  width: 80px;
  height: 80px;
  border-radius: var(--mui-shape-borderRadius);
  border: 1px solid var(--mui-palette-divider);
  object-fit: cover;
}

.cui .er_card__no_image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: var(--mui-shape-borderRadius);
  border: 1px solid var(--mui-palette-divider);
}

.cui .er_card__first_row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cui .er_card__first_row > div,
.cui .er_card__first_row > span {
  flex: 1;
}

.cui .er_card__first_row_mid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cui .er_card__middle_row {
  display: flex;
  gap: 16px;
}
