.cui .toc_status_popup__wrapper .MuiPaper-root {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  flex-direction: column;
  padding: 16px;
  border-radius: var(--cui-card-border-radius);
}

.cui .toc_status_popup__wrapper > div {
  width: 100%;
}

.cui .toc_status_popup__input_wrapper {
  flex: 1;
}

.cui .toc_status_popup__input_wrapper > div {
  width: 100%;
}

.cui .toc_status_popup__submit_button {
  width: 100%;
}

.cui .toc_status_popup__solved_warning {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #777;
}

.cui .toc_status_popup__solved_warning .MuiTypography-root {
  margin: 0;
}

.cui .toc_status_popup__message_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
