.generic_field__wrapper .is-invalid,
.generic_field__wrapper .is-valid {
  box-shadow: none !important;
  border-color: inherit;
  background-image: none;
}

.generic_field__hidden {
  display: none;
}

.generic_field__wrapper .input-group {
  margin-bottom: 0 !important;
}
