.cui .network_status_bar__wrapper {
  width: 100vw;
}

.cui .network_status_bar__pad {
  height: 48px;
  background-color: var(--cui-light-background);
}

.cui .network_status_bar__no_user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.cui .network_status_bar .MuiPaper-root {
  background-color: rgba(229, 246, 253, 0.5);
}
