.technician_on_call_status_modal {
  max-width: 756px;
}

.technician_on_call_status_modal__solved_warning {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #777;
  margin-bottom: 16px;
}

.technician_on_call_status_modal__solved_warning .MuiTypography-root {
  margin: 0;
  line-height: 1;
}

.technician_on_call_status_modal__symptoms_label_wrapper {
  display: flex;
  margin-top: 4px;
  margin-bottom: 4px;
  align-items: center;
  padding-right: 0;
  padding-left: calc(var(--bs-gutter-x) * 1);
}

.technician_on_call_status_modal__symptoms_label_wrapper > div {
  padding: 0;
}

.technician_on_call_status_modal__symptoms_label_wrapper button {
  width: fit-content;
}
