.cui .toc_detail_description__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cui .toc_detail_description__row {
  flex: 1;
  display: flex;
  gap: 16px;
}

.cui .toc_detail_description__row > div {
  flex: 1;
}

.cui .toc_detail_description__info_row {
  display: flex;
  gap: 16px;
}

.cui .toc_detail_description__info_cell {
  flex: 1;
}

.cui .toc_detail_description__info_row_wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
}

.cui .toc_detail_description__tag_wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.cui .toc_detail_description__info_cell a {
  text-decoration: none;
}

.cui .toc_detail_description__contact_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}

.cui .toc_detail_description__contact_section_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
  width: 100%;
}

.cui .toc_detail_description__translate_button {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 4px;
  text-decoration: underline;
}

.cui .toc_detail_description__info_cell .cui_success {
  margin-left: -3.5px;
}

.cui .toc_detail_description__info_cell .cui_error {
  margin-left: -5px;
}

.cui .toc_detail_description__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}

.cui .toc_detail_description__list > div {
  width: 100%;
}

.cui .toc_detail_description__card {
  padding: 8px 16px;
  border-radius: var(--cui-card-border-radius);
  border: 1px solid var(--mui-palette-divider);
}

.cui .MuiAccordion-root .toc_detail_description__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 8px;
}

.cui .toc_detail_description__csr_status {
  justify-self: center;
}

.cui .toc_detail_description__csr_open {
  justify-self: end;
}

.cui .toc_detail_description__title_header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cui .toc_detail_description__title_row {
  display: flex;
  align-items: center;
  gap: 4px;
}

.cui .toc_detail_description__title_text {
  flex: 1;
}

.cui .toc_detail_description__original_title {
  font-style: italic;
  margin-top: 4px;
}

.cui .toc_detail_description__description_row {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.cui .toc_detail_description__description_text {
  flex: 1;
}

.cui .toc_detail_description__original_description {
  font-style: italic;
  font-size: 0.875rem;
  color: var(--mui-palette-text-secondary);
}

.cui .toc_detail_description__description_divider {
  margin-top: 8px;
  margin-bottom: 8px;
}
