/.buildpath
/.project
/.settings

/sessions/
/vendor
/bin

/.php_cs-fixer.php
/.php-cs-fixer.cache

/var/log
/.env.local
/.env.*.local

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###