div .MuiAutocomplete-root .MuiInputBase-root.Mui-disabled {
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.05);
}

.cui
  .cui_input_wrapper.cui_padding_left
  .MuiOutlinedInput-root
  .MuiAutocomplete-input {
  padding-left: 5px;
}
