.global_chat__wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 16px;
  z-index: 100000;
}

.global_chat__wrapper a {
  display: inline-flex;
  color: white;
  border-radius: 100%;
  padding: 4px;
  background: #014f9e;
  overflow: hidden;
}

.global_chat__wrapper a:hover {
  background: #014f9e;
}

.global_chat__wrapper a img {
  height: 48px;
  width: 48px;
}
