.translator__card_title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.translator__card_tools {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.translator__info_title {
  display: block;
  margin-bottom: 8px;
}

.translator__info_list {
  margin: 0;
  line-height: 1.5;
}

.translator__list_title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.translator__list_right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.translator__list_note {
  color: #dc3545;
  font-weight: 600;
  font-size: 12px;
}
