.cui .er_finder__wrapper {
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 100%;
}

.cui .er_finder__sub_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.cui .er_finder__sub_heading .MuiTypography-root {
  margin: 0;
}

.cui .er_finder__scanner_wrapper {
  display: flex;
  width: 100%;
}
