.cui .csr_detail_description__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cui .csr_detail_description__row {
  flex: 1;
  display: flex;
  gap: 16px;
}

.cui .csr_detail_description__row > div {
  flex: 1;
}

.cui .csr_detail_description__info_row {
  display: flex;
  gap: 16px;
}

.cui .csr_detail_description__info_cell {
  flex: 1;
}

.cui .csr_detail_description__info_row_wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
}

.cui .csr_detail_description__tag_wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.cui .csr_detail_description__info_cell a {
  text-decoration: none;
}

.cui .csr_detail_description__heading_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cui.light .csr_detail_description__survey {
  background-color: var(--mui-palette-primary-main);
}

.cui.light .csr_detail_description__survey button {
  color: white;
}
