.cui .er_detail_schematics__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cui .er_detail_schematics__no_list {
  margin: auto;
}

.cui .er_detail_schematics_list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
