<?php
// SMTP servers

$cfg['smtp']['auth'] = false;
$cfg['smtp']['host'] = '{{ smtp.host }}';
$cfg['smtp']['port'] = '25';
$cfg['smtp']['username'] = '';
$cfg['smtp']['password'] = '';

/**
 * Database on web-db-01 server
 */
$cfg['db']["www"]["host"] = "{{ www.host }}";
$cfg['db']["www"]["db"]   = "{{ www.db }}";
$cfg['db']["www"]["user"] = "{{ www.user }}";
$cfg['db']["www"]["pwd"]  = "{{ www.pwd }}";
$cfg['db']["www"]["port"] = "3306";

// EQUOTES Database
$cfg['db']["equotes"]["host"] = "{{ equotes.host }}";
$cfg['db']["equotes"]["db"]   = "{{ equotes.db }}";
$cfg['db']["equotes"]["user"] = "{{ equotes.user }}";
$cfg['db']["equotes"]["pwd"]  = "{{ equotes.pwd }}";
$cfg['db']["equotes"]["port"] = "3306";

// External website DB

$cfg['db']["wordpress"]["host"] = "{{ wordpress.host }}";
$cfg['db']["wordpress"]["db"]   = "{{ wordpress.db }}";
$cfg['db']["wordpress"]["user"] = "{{ wordpress.user }}";
$cfg['db']["wordpress"]["pwd"]  = "{{ wordpress.pwd }}";
$cfg['db']["wordpress"]["port"] = "3306";

// PDM Database

$cfg['db']["pdm"]["host"] = "{{ pdm.host }}";
$cfg['db']["pdm"]["port"] = "1433";
$cfg['db']["pdm"]["dsn"]  = "{{ pdm.dsn }}";
$cfg['db']["pdm"]["user"] = "{{ pdm.user }}";
$cfg['db']["pdm"]["pwd"]  = "{{ pdm.pwd }}";

// BAAN Database - 192.111.1.192

$cfg['db']["baan"]["host"] = "{{ baan.host }}";
$cfg['db']["baan"]["port"] = "56988";
$cfg['db']["baan"]["dsn"]  = "{{ baan.dsn }}";
$cfg['db']["baan"]["user"] = "{{ baan.user }}";
$cfg['db']["baan"]["pwd"]  = "{{ baan.pwd }}";

$cfg['db']["baan_tld"]["host"] = "{{ baan_tld.host }}";
$cfg['db']["baan_tld"]["port"] = "1433";
$cfg['db']["baan_tld"]["dsn"]  = "{{ baan_tld.dsn }}";
$cfg['db']["baan_tld"]["user"] = "{{ baan_tld.user }}";
$cfg['db']["baan_tld"]["pwd"]  = "{{ baan_tld.pwd }}";


// Cloud server - OwnCloud DB ---->

$cfg['db']["owncloud"]["host"] = "{{ owncloud.host }}";
$cfg['db']["owncloud"]["db"]   = "{{ owncloud.db }}";
$cfg['db']["owncloud"]["user"] = "{{ owncloud.user }}";
$cfg['db']["owncloud"]["pwd"]  = "{{ owncloud.password }}";
$cfg['db']["owncloud"]["port"] = "3306";

// SOAP server configurations

// --> baan soap server
$cfg['soap']['location'] = "{{ soap.location }}";
$cfg['soap']['uri']      = "{{ soap.uri }}";

// --> intranet soap server
$cfg['soap']['server']['intranet'] = array(
    'location' => "{{ intranet_soap.location }}",
    'uri'      => "{{ intranet_soap.uri }}",
    'trace'    => 1,
    'login'    => "{{ intranet_soap.login }}",    // temp user login
    'password' => "{{ intranet_soap.password }}", // temp user password
);
