.cui .manual_details__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 28px;
  height: max-content;
}

.cui .manual_details__row {
  flex: 1;
  display: flex;
  gap: 16px;
}

.cui .manual_details__row > div {
  flex: 1;
}

.cui .manual_details__info_row {
  display: flex;
}

.cui .manual_details__info_cell {
  flex: 1;
}

.cui .manual_details__files_sections {
  padding: 16px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}

.cui .manual_details__files_sections h5 {
  text-decoration: underline;
}

.cui .manual_details__wrapper .MuiPaper-root {
  width: 100%;
}

.cui .manual_details__files_section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
