parameters:
    parallel:
        processTimeout: 300.0
    inferPrivatePropertyTypeFromConstructor: true
    level: 6
    paths:
        - src
    checkMissingIterableValueType: true
    ignoreErrors:
        - '#^Template type T of method [A-Za-z\\]+::[A-Za-z\\]+\(\) is not referenced in a parameter\.$#'
        - identifier: missingType.generics
    excludePaths:
        - src/Sdk/DataTransformer/ResourceTransformer/Future/SupplierCorrectiveActionRequestResourceTransformer.php # 3 errors left to fix

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
