.contract_sub_category_form__wrapper .ibox-title {
  border: 0;
}

.contract_sub_category_form__row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.contract_sub_category_form__row > div {
  width: 100%;
}

.contract_sub_category_form__right_align {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.contract_sub_category_form__right_align > div {
  width: 100%;
}

.contract-form-column .contract_sub_category_form__row > div {
  width: auto;
  flex: 1;
}

.contract-form-column .contract_sub_category_form__right_align > div {
  width: auto;
}

.col-fixed-3 {
  flex: 0 0 auto !important;
  width: 25% !important;
  max-width: 25% !important;
}
