.cui .intervention_popup__wrapper .MuiPaper-root {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  flex-direction: column;
  padding: 16px;
  border-radius: var(--cui-card-border-radius);
}

.cui .intervention_popup__wrapper > div {
  width: 100%;
}

.cui .intervention_popup__input_wrapper {
  flex: 1;
}

.cui .intervention_popup__input_wrapper > div {
  width: 100%;
}

.cui .intervention_popup__submit_button {
  width: 100%;
}
