.cui .home_app_bar__drawer_logo {
  margin: 40px 0px 36px;
  height: 44px;
  object-fit: contain;
  width: 100%;
}

.cui.light .app_drawer_button {
  color: rgb(1, 88, 164);
}

.cui.light .app_drawer_icon {
  color: rgb(1, 88, 164);
}

.cui.dark .MuiDrawer-paper {
  background-image: none;
  background-color: rgb(15, 18, 20);
}

.cui .app_drawer__profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.cui.light .app_drawer__profile {
  background-color: var(--cui-alvest-logo-light);
  color: white;
}

.cui .app_drawer__profile-icon {
  height: 40px;
  width: 40px;
}
