.cui .toc_detail_defective_parts_cards__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.cui .toc_detail_defective_parts_cards__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
}
