.cui .toc_detail_parts__action_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cui .toc_detail_parts__no_parts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cui .toc_detail_parts__no_parts > * {
  margin-bottom: 0;
}

.cui .toc_detail_parts__content {
  margin-top: 16px;
}

.cui .toc_detail_parts__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.cui .toc_detail_parts__wrapper > div {
  width: 100%;
}

.cui .toc_detail_parts__wrapper .MuiAccordion-root {
  margin-top: 0;
}

.cui .toc_detail_parts__action {
  border-radius: 100px;
}
