.generic_checkbox__wrapper {
  margin-bottom: 0.5rem;
}

.generic_checkbox__wrapper .row {
  margin-bottom: 0 !important;
  margin-left: 0;
  margin-right: 0;
  gap: 16px;
  align-items: flex-start;
  justify-content: space-between;
}

.generic_checkbox__wrapper .row > div {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}

.generic_checkbox__wrapper .form-label {
  padding-left: 0;
  padding-right: 0;
  width: auto;
}

.generic_checkbox__wrapper .col-sm-10 {
  padding-left: 0;
  padding-right: 0;
  width: auto;
}

.generic_checkbox__wrapper .form-check-input {
  margin-top: calc(0.55rem + var(--bs-border-width));
}

.generic_checkbox__reverse .row {
  flex-direction: row-reverse;
}

.generic_checkbox__wrapper .error_wrapper .form-label {
  padding-bottom: 0;
}

.generic_checkbox__fit_content .row {
  justify-content: flex-start;
}

.generic_checkbox__reverse.generic_checkbox__fit_content .row {
  justify-content: flex-end;
}

.generic_checkbox__center .row {
  justify-content: center;
}
