@media print {
    body {
        width: 100%;
        margin: 0;
        float: none;
        color: black;
        background: white;
    }
    
    a, a:link, a:visited
    {
        color: black;
    }
    
    .no_print {
        display: none;
        margin: 0;
    }
}