.data_table_feature__wrapper div[id^="react-select-"][id$="-listbox"] {
  z-index: 3;
}

hr.data_table_feature__divider {
  border-color: grey;
  margin: 16px 0;
}

.data_table_feature__filters_wrapper {
  flex: 1;
}

.data_table_feature__actions_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 8px;
  padding-bottom: 8px;
}

.data_table_feature__action_wrapper {
  border-radius: 100%;
  padding: 4px;
  background: #004f9e;
  overflow: hidden;
  width: fit-content;
}

.data_table_feature__action_wrapper button {
  color: white;
}

hr.data_table_feature__divider {
  border-color: grey;
  margin: 16px 0;
}
