.contact_table__wrapper .MuiDataGrid-columnHeader {
  background-color: #3f51b5 !important;
  color: white;
}

.contact_table__wrapper .MuiDataGrid-sortButton,
.contact_table__wrapper .MuiDataGrid-menuIconButton {
  color: white;
}

.contact_table__wrapper .MuiTablePagination-selectLabel,
.contact_table__wrapper .MuiTablePagination-displayedRows {
  margin: 0;
}
