.cui .manual_document_group_table__files_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cui .manual_document_group_table__actions {
  display: flex;
  color: var(--mui-palette-primary-main);
  gap: 8px;
}

.cui.light .manual_document_group_table__actions .MuiAvatar-root {
  background-color: transparent;
  border: 1px solid rgb(223, 226, 231);
  color: var(--cui-alvest-logo-light);
}

.cui .manual_document_group_table__actions .MuiAvatar-root {
  border-radius: 13px;
}

.cui.light .h.manual_document_group_table__actions svg {
  color: var(--cui-alvest-logo-light);
}
