*{
font-size:10pt
}

.reportContainer{
    font-size: 19pt;
    display: block;
    left:0px;
    margin-bottom:20px;
    margin-left: 0px;
}

.descriptionContainer{
    float:left;
    page-break-inside:avoid;
    margin:0px;
}

.container{
    display:none;
}

.row{
    margin:0px;
}

.slideContainer{
    width: 1500px;
    margin-left: 0px;
}

.descriptionTab{
    float:left
}
.familyContainer{
    page-break-after:always;
}
.bg-success .text-secondary{
    display:none;
}

.clear {
    clear:both;
}
