.reportContainer{
    font-size: 19pt;
    overflow-y: hidden;
    display: block;
    margin-bottom:20px;
    margin-left: 0px;
}

.slideContainer{
    width: max-content;
    width: -moz-max-content;
    margin-left: 0px;
}
.descriptionContainer {
   float:left;
    margin:0px;
    border-right:5px solid black;
}
.descriptionTab{
    float:left;
    width:20vw;
    box-shadow: 1px 0px 12px #555;
}

.reportTitle{
    display: block;
}

.reportTitle{
    display: block;
}

.clear {
    clear:both;
}

td,
tr{
    height:30px;
}

.bg-success .text-secondary{
    display:none;
}

.familyContainer{
    width: 98vw;
    margin:0px;
}

.operationDescription{
    display: inline-block;
    overflow:hidden;
}