.inputSN{
    margin-bottom:20px;
    font-size: medium;
}

.error{
    font-size:20px;
    color:red;
}

a.button {
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}

a.button-blue {
    background-color: #2971a8;
    color: #FFF;
}

a.button-blue:hover {
    background-color: #4e9ad4;
    color: #FFF;
}

.staging-link {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.staging-warning {
    background: red;
    text-align: center;
    padding: 10px;
}

.staging-warning a {
    color: white;
}

.navbar-fixed-top {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 0;
    left: 0;
}

div.alert {
    padding: 15px;
    margin: 5px 0;
    border-radius: 10px;
    color: #055160;
    background-color: #cff4fc;
    border: #b6effb;
}

.alert.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border: #badbcc;
}

.alert.alert-error {
    color: #842029;
    background-color: #f8d7da;
    border: #f5c2c7;
}

.alert.alert-info {
    color: #055160;
    background-color: #cff4fc;
    border: #b6effb;
}
