/var/cache/*
!var/cache/.gitkeep
/var/log/*
!var/log/.gitkeep
/node_modules
/files
/public/build/
/public/openapi.json
!/tests/fixtures/mnt/
/tests/fixtures/mnt/*
!/tests/fixtures/mnt/windsor.released/
/tests/fixtures/mnt/windsor.released/*
!/tests/fixtures/mnt/windsor.released/101-03-0039_C.pdf
!/tests/fixtures/mnt/windsor.released/10/
/tests/fixtures/mnt/windsor.released/10/*
!/tests/fixtures/mnt/windsor.released/10/1043/
/tests/fixtures/mnt/windsor.released/10/1043/*
!/tests/fixtures/mnt/windsor.released/10/1043/1043756.pdf
!/tests/fixtures/mnt/windsor.released/10/1043/1043760.pdf
!/tests/fixtures/mnt/windsor.released/10/1043/1043761.pdf
!/tests/fixtures/mnt/windsor.released/10/1043/1043762.pdf
!/tests/fixtures/mnt/windsor.released/10/1043/1043763.pdf
!/tests/fixtures/mnt/windsor.released/10/1094/
/tests/fixtures/mnt/windsor.released/10/1094/*
!/tests/fixtures/mnt/windsor.released/10/1094/1094991_A.pdf
!/tests/fixtures/mnt/windsor.released/10/1094/1094992_A.pdf
!/tests/fixtures/mnt/windsor.released/10/1094/1094994_A.pdf
!/tests/fixtures/mnt/windsor.released/10/1095/
/tests/fixtures/mnt/windsor.released/10/1095/*
!/tests/fixtures/mnt/windsor.released/10/1095/1095087-1_A.jpg
!/tests/fixtures/mnt/windsor.released/1048682.jpg
!/tests/fixtures/mnt/windsor.released/1094993_A.pdf
!/tests/fixtures/mnt/global.released/
/tests/fixtures/mnt/global.released/*
!/tests/fixtures/mnt/global.released/montlouis.released/
/tests/fixtures/mnt/global.released/montlouis.released/*
!/tests/fixtures/mnt/global.released/montlouis.released/10/
/tests/fixtures/mnt/global.released/montlouis.released/10/*
!/tests/fixtures/mnt/global.released/montlouis.released/10/1047/
/tests/fixtures/mnt/global.released/montlouis.released/10/1047/*
!/tests/fixtures/mnt/global.released/montlouis.released/10/1047/1047302.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/10/1047/1047333.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/10/1047/1047334.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/10/1047/1047335.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/10/1047/1047406_A.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/10/1047/1047407_A.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/10/1047/1047408_A.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/10/1047/1047409_A.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/10/1051/
/tests/fixtures/mnt/global.released/montlouis.released/10/1051/*
!/tests/fixtures/mnt/global.released/montlouis.released/10/1051/1051213_I2.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/10/1051/1051213_I2.jpg
!/tests/fixtures/mnt/global.released/montlouis.released/10/1051/1051214_I.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/10/1067/
/tests/fixtures/mnt/global.released/montlouis.released/10/1067/*
!/tests/fixtures/mnt/global.released/montlouis.released/10/1067/1067606_A.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/10/1067/1067607_A.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/12/1202/
/tests/fixtures/mnt/global.released/montlouis.released/12/1202/*
!/tests/fixtures/mnt/global.released/montlouis.released/12/1202/1202507_C.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/50/
/tests/fixtures/mnt/global.released/montlouis.released/50/*
!/tests/fixtures/mnt/global.released/montlouis.released/50/5032/
/tests/fixtures/mnt/global.released/montlouis.released/50/5032/*
!/tests/fixtures/mnt/global.released/montlouis.released/50/5032/503277_F.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/50/5033/
/tests/fixtures/mnt/global.released/montlouis.released/50/5033/*
!/tests/fixtures/mnt/global.released/montlouis.released/50/5033/5033422-024.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/50/5033/5033422-025.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/50/5033/5033422-026.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/52/5233/
/tests/fixtures/mnt/global.released/montlouis.released/52/5233/*
!/tests/fixtures/mnt/global.released/montlouis.released/52/5233/5233418-601.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/70/
/tests/fixtures/mnt/global.released/montlouis.released/70/*
!/tests/fixtures/mnt/global.released/montlouis.released/70/7000/
/tests/fixtures/mnt/global.released/montlouis.released/70/7000/*
!/tests/fixtures/mnt/global.released/montlouis.released/70/7000/7000267.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/11/
/tests/fixtures/mnt/global.released/montlouis.released/11/*
!/tests/fixtures/mnt/global.released/montlouis.released/11/1106/
/tests/fixtures/mnt/global.released/montlouis.released/11/1106/*
!/tests/fixtures/mnt/global.released/montlouis.released/11/1106/1106556-100_A.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/11/1123/
/tests/fixtures/mnt/global.released/montlouis.released/11/1123/*
!/tests/fixtures/mnt/global.released/montlouis.released/11/1123/1123043_O.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/11/1132/
/tests/fixtures/mnt/global.released/montlouis.released/11/1132/*
!/tests/fixtures/mnt/global.released/montlouis.released/11/1132/1132931_A.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/11/1162/
/tests/fixtures/mnt/global.released/montlouis.released/11/1162/*
!/tests/fixtures/mnt/global.released/montlouis.released/11/1162/1162513_D.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/11/1162/1162514_D1.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/11/1162/1162513_E.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/11/1162/1162514_F.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/11/1155/
/tests/fixtures/mnt/global.released/montlouis.released/11/1155/*
!/tests/fixtures/mnt/global.released/montlouis.released/11/1155/1155898_D.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/11/1156/
/tests/fixtures/mnt/global.released/montlouis.released/11/1156/*
!/tests/fixtures/mnt/global.released/montlouis.released/11/1156/1156243_A.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/11/1170/
/tests/fixtures/mnt/global.released/montlouis.released/11/1170/*
!/tests/fixtures/mnt/global.released/montlouis.released/11/1170/1170830_D.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/27/
/tests/fixtures/mnt/global.released/montlouis.released/27/*
!/tests/fixtures/mnt/global.released/montlouis.released/27/2733/
/tests/fixtures/mnt/global.released/montlouis.released/27/2733/*
!/tests/fixtures/mnt/global.released/montlouis.released/27/2733/2733001-001_B.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/27/2733/2733014-001_B.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/27/2733/2733039-001_B.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/45/
/tests/fixtures/mnt/global.released/montlouis.released/45/*
!/tests/fixtures/mnt/global.released/montlouis.released/45/4572/
/tests/fixtures/mnt/global.released/montlouis.released/45/4572/*
!/tests/fixtures/mnt/global.released/montlouis.released/45/4572/4572045_A.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/40/
/tests/fixtures/mnt/global.released/montlouis.released/40/*
!/tests/fixtures/mnt/global.released/montlouis.released/40/4045/
/tests/fixtures/mnt/global.released/montlouis.released/40/4045/*
!/tests/fixtures/mnt/global.released/montlouis.released/40/4045/4045919
!/tests/fixtures/mnt/global.released/montlouis.released/40/4045/4045919.jpg
!/tests/fixtures/mnt/global.released/montlouis.released/53/
/tests/fixtures/mnt/global.released/montlouis.released/53/*
!/tests/fixtures/mnt/global.released/montlouis.released/53/5333/
/tests/fixtures/mnt/global.released/montlouis.released/53/5333/*
!/tests/fixtures/mnt/global.released/montlouis.released/53/5333/5333474-500.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/65/
/tests/fixtures/mnt/global.released/montlouis.released/65/*
!/tests/fixtures/mnt/global.released/montlouis.released/65/6533/
/tests/fixtures/mnt/global.released/montlouis.released/65/6533/*
!/tests/fixtures/mnt/global.released/montlouis.released/65/6500/
/tests/fixtures/mnt/global.released/montlouis.released/65/6500/*
!/tests/fixtures/mnt/global.released/montlouis.released/65/6500/6500171.zip
!/tests/fixtures/mnt/global.released/montlouis.released/65/6533/6533033-101.pdf
!/tests/fixtures/mnt/global.released/montlouis.released/65/6533/6533033_B.pdf
/tests/fixtures/mnt/global.released/montlouis.released/TU/*
/tests/fixtures/mnt/global.released/montlouis.released/TU/TUIT/*
!/tests/fixtures/mnt/global.released/montlouis.released/TU/TUIT/TUIT99051_G.pdf

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###
