.accordion__toggle_wrapper {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.accordion__actions_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.accordion__icon svg {
  width: 20px;
  height: 20px;
  color: #676a6c;
}

.accordion__toggle_wrapper .fa {
  margin-top: 5.45px;
}
